altgraph==0.17.2
antlr4-python3-runtime==4.7.2
blis==0.7.7
CacheControl==0.12.11
cachetools==5.2.0
catalogue==2.0.7
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.1.3
cymem==2.0.6
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
firebase-admin==5.2.0
Flask==2.1.2
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-firestore==2.5.3
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
grpcio==1.46.3
grpcio-status==1.46.3
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.4
inflect==5.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
langcodes==3.3.0
latex2sympy2==1.7.8
macholib==1.16
MarkupSafe==2.1.1
modulegraph==0.19.2
mpmath==1.2.1
msgpack==1.0.4
murmurhash==1.0.7
num2words==0.5.10
numpy==1.22.4
packaging==21.3
pathy==0.6.1
preshed==3.0.6
proto-plus==1.20.6
protobuf==3.19.4
py2app==0.28.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
quantulum3==0.7.10
requests==2.28.0
rsa==4.8
six==1.16.0
smart-open==5.2.1
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.3
sympy==1.10.1
thinc==8.0.17
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
wasabi==0.9.1
Werkzeug==2.1.2
zipp==3.8.0
