:root {
  --main_color: #6EE744;
  --gray_color: #2c2b2b;
  --light_gray_color: #9D9D9D;
  --secondary_color-1: #D0E744;
  --secondary_color-2: #E744A6;
  --secondary_color-3: #44E7C0;
  --secondary_color-4: #44E78F;
  --secondary_color-5:  #dd2c2c;;
}

/* INDICE
 * - Todo el documento
 * - Texto
*/


/*---------------------ELEMENTOS GENERALES---------------------*/







/*CARD*/

.card{
  background: #eee;
  color: var(--gray_color);
  display: flex;
  width: fit-content;
  min-width: 30px;
  min-height: 30px;
  padding: 1.5rem;
  z-index: 9;
  position: relative;
  filter: drop-shadow(21px 21px 50px var(--gray_color));
  border-radius: 30px;
}

.card .secondary{
  color: var(--light_gray_color);
}

.card a{
  color: var(--main_color);
  text-decoration: none;
  font-weight: bolder;
}

.card a:hover{
  color: var(--gray_color);
}


/*FORMS*/

.form-card{
  color: var(--light_gray_color);
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 30px;
}

.form-card h2 {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0;
}

.form-card h3{
  font-weight: normal;
  font-size: 1rem;
  margin: 1.2rem;
  
}

.form-card p{
  font-size: 0.8rem;
  color: var(--gray_color);
  font-weight: bolder;
}

.form-card img{
  width: 100%;
  margin: 1rem 0 1rem 0;
}


.form-card form{
  width: 100%;
  margin: 0rem;
}

form label{
  font-size: 1rem;
  font-weight: normal;
  background: #eee;
}

form input{
  border: 2px solid var(--light_gray_color);
  color: var(--light_gray_color);
  padding: 8px;
  font-size: 1rem;
  border-radius: 50px;
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-weight: lighter;
  background: #eee;
}

.inputWithIcon input[type=email], .inputWithIcon input[type=password], .inputWithIcon input[type=text]{
  width: 100%;
  padding-left: calc(3rem);
  box-sizing: border-box;
}

.inputWithIcon{
  position: relative;
  width: 100%;
}
.inputWithIcon svg{
  position: absolute;
  left: 0px;
  top: 0;
  padding: calc(0.8625rem - 4px)  0  calc(0.8625rem - 4px) 1rem;

}

.search-bar{
  color: var(--gray_color);


  
}
  .search-bar *{
    color: var(--gray_color);
    background: rgba(240, 240, 240, 0.4);
    border: none;
  }



form input::-webkit-input-placeholder { /* Edge */
  color: var(--light_gray_color);
  font-weight: lighter;

}

form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--light_gray_color);
  font-weight: lighter;

}

form input::placeholder {
  color: var(--light_gray_color);
  font-weight: lighter;

}

form input[type="submit"]{
  background-color: var(--main_color);
  border: none;
  color: white;
  width: 100%;
  margin-top: 0.4rem;
}

form input[type="submit"]:hover{
  background: var(--gray_color);
  cursor: pointer;
}








/*BLOB*/

.blob{
  position: fixed;
  top: 0; left: 0;
  fill: var(--secondary_color-1);
  width: 50vmax;
  z-index: -1;
  opacity: 60%;
  margin: 0;
}
/* TODO EL DOCUMENTO*/
*{
  font-family: 'Roboto', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  color: var(--gray_color);
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

/* TEXTO */
h1{
  font-size: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  cursor: default;
}

p{
  font-size: 2rem;
  cursor: default;
}

a,a:visited{
  text-decoration: none;
  color: var(--gray_color);
}

a:hover{
  color: var(--secondary_color-1);
}





/* NAV-BAR*/
.nav-cont{
  position: sticky;
  top: 0;
  z-index: 999;
}
nav{
  position: relative;
  z-index: 52;
  background: var(--main_color);
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--gray_color);
}
nav:hover{
  cursor: default;
}
  nav *{
    font-weight: 500;
  }
  nav img{
    height: 60px;
    margin: 20px;
    cursor: pointer;
  }
  nav ul{
    margin:0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex: 1;
  }
    nav ul li{
      margin: 20px;
      cursor: pointer;
    }

  nav+svg{
    --y-offset: -40px;
    position: relative;
    left: 0;
    right: 0;
    z-index: 50;
    margin-top: var(--y-offset);
    transition: 1s ease-out;
    transform-origin: center calc(-1*var(--y-offset));
  }
  nav.scroll-collapse+svg{
    transform: scaleY(0);
  }


section{
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding: 30px
}
  section>*{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

/*FOOTER*/

  footer{
    position: relative;
    z-index: 49;
    padding: 0;
    margin: 0;
  }
  


  /*---------------------INDEX.HTML---------------------*/

/* HERO*/
.hero{
  padding-top: 0rem;
  min-height: 70vh;
}
 


/* ACERCA DE*/

.about{
  background: firebrick;
  min-height: 300px;
  z-index: 49;
  position: relative;
  background: var(--main_color);
}

/* CONTADOR*/

.count{
  background: darkorange;
  min-height: 300px;
}

/* SMF*/

.smf{
  background: palegreen;
  min-height: 300px;
}

/*SOBRE NOSOTROS */

.about-us{
  background: lightcoral;
  min-height: 300px;
}




/*BOTONES*/

.btn-1 {
  background: var(--gray_color);
  color: white;
  min-width: 13rem;
  height: 3.2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  padding: 5px;
  margin: 1.5rem 1rem 1.5rem 1rem;
  z-index: 49;
  position: relative;
}

.btn-1:hover{
  background: var(--secondary_color-1);
  cursor: pointer;
}

/*---------------------LOGIN---------------------*/
.login-container{
  z-index: 49;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card{
  z-index: 49;
  margin: 10vmax 20vmax;
  padding: 0;
  max-height: 100vh;
  overflow: scroll
}

.login-card .form-card{
  width: 50%;
  z-index: 11;
  padding: 2.5rem;
  box-sizing: border-box;
}

.login-container .form-card *{
  flex-shrink: 1;
}

.login-container .form-card img{
  margin-top: 0;
  width: 80%;
}


.login-card .img-container{
  width: 50%;
  display:inline-block;
  position: relative;
}


.login-card .img-container::after{
  content:'';
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: var(--main_color);
    opacity: 0.65;
    border-radius: 0 30px 30px 0;
} 

.img-container .bg{
  object-fit: cover; 
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  border-radius: 0 30px 30px 0;
}

.img-container .wrap-img-p {
  z-index: 13;
  width: 60%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-container .wrap-img-p .logo{
  width: 100%;
}

.img-container .wrap-img-p p{
  font-weight: lighter;
  font-size: 1rem;
  color: #eee;
  line-height: 1.3rem;
}

.or{
  width: 80%;
  text-align: center;
  border-bottom: 1px solid var(--light_gray_color);
  border-bottom: 1px solid rgb(157, 157, 157);
  border-bottom: 1px solid rgba(157, 157, 157, .4);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  line-height: 0rem;
}

.or span { 
  background:#eee; 
  padding:0 10px; 
  color: rgb(157, 157, 157);
  color: rgba(157, 157, 157, .4);
}


.logos-redes{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  margin: 0;
}

.logos-redes *{
  margin: 0;
}

/*---------------------PORTAL---------------------*/
.header-portal nav{
  height: fit-content ;
}

  .header-portal nav {
    align-items: center;
  }
  .header-portal nav * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .header-portal nav img{
    height: 40px;
    flex-grow: 0;
    margin: auto;
  }

  .header-portal .inputWithIcon{
    
    margin: 1rem 20%;
  }

  .inputWithIcon svg{
    background: none;
  }

  .header-portal .search-bar{
    min-width: 200px;
  }

  .box:first-child > span { margin-right: auto; }
  
  .box:last-child  > span { margin-left: auto;  }

/*Hero*/
.panel-hero{
  height: 20vh;
  position: relative;
  z-index: 1;

}
  .panel-hero *{
    width: auto;
  }




/*---------------------MEDIA QUERIES---------------------*/



/* SMALL */
@media only screen and (max-width: 640px){
  html {
    font-size: 90%;
  }

  nav, nav ul{
    flex-direction: column;
    justify-content: stretch;
    margin: 0
  }

  

  nav img{
    margin-bottom: 0px !important;
  }
  .hero-buttons{
    display: flex;
    flex-direction: column;
    max-width: 40vw  !important; 
    align-items: center;
  }
  .hero-buttons button{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .hero h1{
    font-size: 2.5rem;
    position: relative;
    z-index: 49;
  }

  .hero p{
    font-size: 1.5rem;
    
  }

  nav+svg{
    --y-offset: -4px;
  }

  /*LOGIN*/

  .login-card {
    flex-direction: column-reverse;
    max-height: 100vh;
    overflow: scroll;
    margin: 15px;
   }
 
   .login-card>*{
     width: 100%  !important;
   }
 
   .login-card .img-container,.login-card .img-container::after {
     flex-grow: 1;
     flex-shrink: 0;
     height: 170px;
   }
 
   .login-card .form-card {
     flex-grow: 1;
     flex-shrink: 1;
   }
}

/*MEDIUM*/
@media only screen and (min-width: 641px) and (max-width: 1025px) {
 
  nav{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0
  }
  nav ul{
    width: 90vw;
  }

  nav ul li{
    margin: 10px 
  }
  nav img{
    margin-bottom: 0px !important;
  }
  .hero-buttons{
    text-align: center;
  }

  nav+svg{
    --y-offset: -4px;
  }

  .hero h1{
    font-size: 3rem;
    position: relative;
    z-index: 49;
  }

  .hero p{
    font-size: 1.8rem;
    position: relative;
    z-index: 49;
  }

  /*LOGIN*/

  .login-card {
   flex-direction: column-reverse;
   max-height: 100vh;
   overflow: scroll;
  }

  .login-card>*{
    width: 100%  !important;
  }

  .login-card .img-container,.login-card .img-container::after {
    flex-grow: 1;
    flex-shrink: 0;
    height: 170px;
  }

  .login-card .form-card {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

/*LARGE BUT WIDE AND SUPER-SHORT*/
@media only screen and (min-width: 1026px) and (max-height: 401px){

  /*LOGIN*/

  .login-card {
    flex-direction: column-reverse;
    max-height: 100vh;
    overflow: scroll;
   }
 
   .login-card>*{
     width: 100%  !important;
   }
 
   .login-card .img-container,.login-card .img-container::after {
     flex-grow: 1;
     flex-shrink: 0;
     height: 170px;
   }
 
   .login-card .form-card {
     flex-grow: 1;
     flex-shrink: 1;
   }
}


.separador h1{
  font-family: "comic sans";
}
