:root{
    font-family: Arial, Helvetica, sans-serif;
}

grupo-card{
    display: flex;
    flex-direction: column;
    padding: 8px;
    cursor: default;
}
    grupo-card>*{
        margin: 8px;
    }
    grupo-card>.grupo{
        margin-top: auto;
        color: gray;
        text-transform: uppercase;
        font-weight: 600;
    }
    grupo-card>.nombre{
        font-size: 1.9rem;
        font-weight: 600;
    }
grupo-card[card]{
    border: 1px solid rgb(200, 200, 200);
    margin: 8px;
    border-radius: 16px;
    height: 300px;
    width: 300px
}

listaproblemas-card{
    display: flex;
    padding: 8px;
    flex-direction: column;
    cursor: default;
}
    listaproblemas-card>.detalles{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    listaproblemas-card>.detalles>.fecha{
        margin: 8px;
        color: gray;
    }
    listaproblemas-card .nombre{
        margin: 8px;
        font-size: 1.5rem;
        display: inline-block;
        font-weight: 600;
        margin-top: 1rem;
    }
    listaproblemas-card .descripcion{
        display: inline-block;
        margin: 8px;
    }
    listaproblemas-card .follow,
    listaproblemas-card .following{
        margin: 8px;
        margin-right: auto;
        padding: 8px;
    }
listaproblemas-card[card]{
    border: 1px solid rgb(200, 200, 200);
    margin: 8px;
    border-radius: 16px;
    height: 300px;
    width: 300px
}
    listaproblemas-card[card] .nombre{
        margin-top: auto;
    }
    listaproblemas-card[card] .follow,
    listaproblemas-card[card] .following{
        margin: 8px;
        margin-left: auto;
    }

usuario-card{
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: default;
}
    usuario-card .perfil{
        --radius: 30px;
        height: calc(2 * var(--radius));
        width: calc(2 * var(--radius));
        border-radius: var(--radius);
        margin-right: 8px;
        float: left;
        flex-shrink: 0;
        flex-basis: calc(2 * var(--radius));
        position: relative;
    }
    usuario-card .perfil.en-linea::after{
        content: '';
        height: calc(var(--radius) * 0.8);
        width: calc(var(--radius) * 0.8);
        border-radius: calc(var(--radius) * 0.4);
        background: gold;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0
    }
    usuario-card>div{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }
    usuario-card>div>*{
        margin: 2px;
    }
    usuario-card>div>.nombre{
        flex: 1 0 100%;
        font-size: 1.2rem;
        font-weight: 600;
    }
    usuario-card>div>.usuario{
        color: gray;
    }
        usuario-card>div>.usuario::before{
            content: '@';
        }
    usuario-card>div>.puntaje{
        font-weight: 600;
    }
usuario-card[small]{}
    usuario-card[small] .perfil{
        --radius: 20px
    }
    usuario-card[small]>div>*{
        font-size: 0.9rem;
    }
    usuario-card[small] .nombre{
        font-size: 1rem;
    }
usuario-card[xsmall]{
}
    usuario-card[xsmall] .perfil{
        --radius: 15px
    }
    usuario-card[xsmall] .nombre{
        display: none;
    }
usuario-card[card]{
    border: 1px solid rgb(200, 200, 200);
    padding: 16px;
    border-radius: 8px;
    margin: 8px
}