<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction - Phystrainer</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            padding-bottom: 1rem;
            background-color: snow;
        }
        pt-navbar{
            position: sticky;
            top: 0;
            border-bottom: 0.5px solid gray;
        }
        main{
            padding: 16px;
        }
    </style>
</head>
<body>
    <pt-navbar user-display-name="{{user.email or ''}}" user-photo-url="{{user.photo_url}}"></pt-navbar>
    <main>
        <h1>Under Construction</h1>
        <h2>This section is still under construction. Please check again later. </h2>
    </main>

    <script src="/static/pt_navbar.js" type="module"></script>
</body>
</html>