<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phystrainer Login</title>
    <style>
        body{
            background: whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
            height: 100vh;
        }

        form{
            padding: 16px;
            background: white;
            max-width: 300px;
            width: 100%;
            margin: auto
        }

    </style>
</head>
<body>
    <form action="/api/auth/login" method="POST">
        <h1>Login</h1>
        <div>
            <label for="email">Email:</label> <br>
            <input type="email" name="email" id="email">
        </div>
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <a id="reset-password" href="">Forgot password?</a>
        <hr>
        <input type="submit" value="Login">
    </form>

    <script>
        document.querySelector('#reset-password').addEventListener('click', async e=>{
            e.preventDefault();
            const email = document.querySelector('#email').value;
            if(email == "")
                return alert("Please enter your email address")

            const request = await fetch('/api/auth/reset-password', {
                method: 'POST', 
                body: JSON.stringify({ email })
            });
            const response = await request.text();
            alert("Password reset link sent!")
        })
    </script>
</body>
</html>